strict-peer-dependencies=false

; Force peerDependencies as root deps in node_modules
public-hoist-pattern[]=@ethersproject/*
public-hoist-pattern[]=@lit-app/*
public-hoist-pattern[]=@lit-labs/*
public-hoist-pattern[]=@mdi/*
public-hoist-pattern[]=@rollup*
public-hoist-pattern[]=@vitejs*
public-hoist-pattern[]=ethers
public-hoist-pattern[]=lit
public-hoist-pattern[]=markdown-it
public-hoist-pattern[]=tailwindcss
public-hoist-pattern[]=tsup
; PeerDependencies default
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*